<div class="section">
    <div class="section-title">04. Education</div>
    <div class="section-data full">
        <div class="custom-button-div">
            Bachelor's Degree in Engineering Informatics
        </div>
    </div>
</div>




 <!-- <h3>Vilnius Gediminas Technical University</h3>
            <p>Bachelor's Degree of Engineering Informatics</p>
            <p>2012 Sep - 2016 Jul</p>
            <p>Study programme aims:</p>
            <p class="study-program">
                1. The graduate has to be ready to design, create and test information
                systems to the domain requirements, to make a plan and a budged for creating and implementing
                information systems while using resources optimally. <br>
                2. The graduate has to be able to create flexible
                IT services improving IT productivity based on the results and methodologies of IT management modelling.
                <br>
                3. The graduate must be able to manage requirement conformity and risk in IT environment while
                guaranteeing data and software integrity.
            </p> -->