<div class="experience-section">
    <div class="experience-box box">
        <div class="section-title">03. Education</div>
        <div class="single-experience">
            <!-- <span class="">                
              <svg class="" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </span> -->
            <h3>Vilnius Gediminas Technical University</h3>
            <p>Bachelor's Degree of Engineering Informatics</p>
            <p>2012 Sep - 2016 Jul</p>
            <p>Study programme aims:</p>
            <p class="study-program">
                1. The graduate has to be ready to design, create and test information
                systems to the domain requirements, to make a plan and a budged for creating and implementing
                information systems while using resources optimally. <br>
                2. The graduate has to be able to create flexible
                IT services improving IT productivity based on the results and methodologies of IT management modelling.
                <br>
                3. The graduate must be able to manage requirement conformity and risk in IT environment while
                guaranteeing data and software integrity.
            </p>
        </div>
    </div>
</div>