<h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Projects</h5>
<div class="skills-section flex flex-row flex-wrap justify-center">
    <div *ngFor="let project of projects; trackBy: trackByFun" class="skill-box container rounded-lg border shadow-md bg-gray-800 border-gray-700 p-8 w-80 h-96 m-2 flex flex-col justify-between">
        <div class="first-half">
            <div class="title-row mb-4 flex flex-row justify-between">
                <i class="fa-regular fa-file fa-2x fa-inverse"></i>
                <div class="links">
                    <button class="bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium mr-2">
                        <i class=" fa-solid fa-1x fa-inverse fa-arrow-up-right-from-square"></i>
                    </button>
                    <button class="bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">
                        <i class="fa-brands fa-1x fa-inverse fa-github"></i>
                    </button>
                </div>
            </div>
            <h6 class=" text-lg font-bold tracking-tight text-white flex-grow mb-4">{{project.name}}</h6>
            <p class="font-normal text-gray-400 overflow-hidden overflow-ellipsis h-44 w-full ">
                {{project.description}}
            </p>
        </div>
        <div class="flex flex-row justify-end">
            <p class="font-normal text-sm text-gray-400 mr-2">
                - -
            </p>
            <p *ngFor="let technology of project.technology; trackBy: trackByFun" class="font-normal text-sm text-gray-400 mr-2">
                {{technology}}
            </p>
        </div>
    </div>

</div>