<div class="about-section">
    <div class="about-box box">
        <!-- <div class="about-photo-holder">
            <div class="color-tint"></div>
            <img src="../../assets/photo.jpg" alt="me" class="about-photo">
        </div> -->
        <div class="about-info-holder">
            <div class="section-title">01. About</div>
            <div class="about-info-text">
                Senior Solutions Developer working at SEB. Primary working with Angular.
                I spend my free time learning other front end technologies such as Svelte and Next, Unity and writing
                small applications.
                My interests include artificial intelligence, video games, robotics and space exploration.
            </div>
        </div>
    </div>
</div>
