<div class="section">
  <div class="section-title">02. Experience</div>
  <div class="section-data">
    <div class="custom-div-button" (click)="openModal(null)">> [SEB] 2022 Jul - Present</div>
    <div class="custom-div-button" (click)="openModal(null)">> [IBM] 2015 Jul - 2022 Jan</div>
    <div class="custom-div-button" (click)="openModal(null)">> [ESA] 2018 Jan - 2018 Jul</div>
    <div class="custom-div-button" (click)="openModal(null)">> [NDVF] 2015 Jun - 2022 Jan</div>
  </div>
</div>

<app-experience-details-component *ngIf="showModal" [company]="selectedCompany" (closeModal)="closeModal()">
  <ng-template>
    <div>hello</div>
  </ng-template>
</app-experience-details-component>