<div class="section last">
  <div class="section-title">06. Contact Me</div>
  <div class="section-data">
    <div class="contacts-list">
      <a class="single-contact" href="mailto: j.m.baravykas@gmail.com">Email</a>
      <a class="single-contact" href="https://github.com/jmbaravykas" target="_blank">Github</a>
      <a class="single-contact" href="https://www.linkedin.com/in/jonas-m-baravykas/" target="_blank">LinkedIn</a>
      <a class="single-contact" href="https://www.instagram.com/jonas.mindaugas.b/" target="_blank">Instagram</a>
    </div>
  </div>
</div>