.contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;

  .single-contact {
      font-family: 'Courier New', Courier, monospace;
      color: var(--green-color);
      border: 3px solid var(--green-color);
      border-radius: 5px;
      padding: 10px;
      flex-grow: 1;
      text-align: center;
      text-decoration: none;
      width: 200px;

      &:hover {
        background-color: var(--green-color);
        color: var(--green-bg);
        cursor: pointer;
        font-weight: bold;
      }
  }
}

@media only screen and (max-width: 600px) {
  .contacts-list {
    padding-bottom: 4rem;
  }
}