<div class="contact-section">
  <div class="contact-box box">
      <div class="section-title">06. Contact Me</div>
      <div class="contacts-list">
          <a class="single-contact" href="mailto: j.m.baravykas@gmail.com">Email</a>
          <a class="single-contact" href="https://www.instagram.com/jonas.mindaugas.b/" _blank>Instagram</a>
          <a class="single-contact" href="https://github.com/jmbaravykas" _blank>Github</a>
          <a class="single-contact" href="https://www.linkedin.com/in/jonas-m-baravykas/" _blank>LinkedIn</a>
      </div>
  </div>
</div>