.row::after {
  content: "";
  clear: both;
  display: table;
  padding-bottom: 10px;
}

.key {
  width: 30%;
  float: left;
  font-weight: bold;
}

.value {
  width: 70%;
  float: left;
}


@media only screen and (max-width: 768px) {
  .row {
    margin-bottom: 1rem;
  }


  .key {
    width: 100%;
    float: left;
  }
  
  .value {
    margin-top: 5px;
    width: 100%;
    float: left;
  }
}