<!-- <app-nav-bar class="fixed w-full z-10 top-0"></app-nav-bar>
<div class="content-holder max-w-5xl mx-8 lg:mx-auto">
    <app-title-section></app-title-section>
    <app-about-section></app-about-section>
    <app-experience-section></app-experience-section>
    <app-skills-section></app-skills-section>
    <app-projects-section></app-projects-section>
    <app-contacts></app-contacts>
</div> -->

<div class="bgimg">
    <div class="middle">
        <h1>COMING SOON</h1>
        <hr>
        <p style="font-size:30px">September 1st</p>
    </div>
    <div class="bottomleft">
        <p>
            For now please vist my <b> <a style="color:black;" href="https://www.linkedin.com/in/jonas-m-baravykas" target="_blank">LinkedIn</a> </b>
        </p>
    </div>
</div>