<!-- nav bar -->
<app-nav-bar class="fixed w-full z-10 top-0"></app-nav-bar>
<!-- title section -->
<div class="content-holder max-w-5xl mx-8 lg:mx-auto">
    <app-title-section></app-title-section>
    <!-- about section -->
    <app-about-section></app-about-section>
    <!-- experience section -->
    <app-experience-section></app-experience-section>
    <!-- skills section -->
    <app-skills-section></app-skills-section>
    <!-- projects section -->
    <app-projects-section></app-projects-section>
    <!-- contacts section -->
    <app-contacts></app-contacts>
</div>