<app-home-component *ngIf="loading" (finished)="loading = false"></app-home-component>
<div *ngIf="!loading" class="info-holder" [@slideInFromTop]>
  <app-title-component></app-title-component>
  <app-about-component [number]="1"></app-about-component>
  <app-experience-component [number]="2"></app-experience-component>
  <app-skills-component [number]="3"></app-skills-component>
  <app-education-component [number]="4"></app-education-component>
  <app-projects-component [number]="5"></app-projects-component>
  <app-contact-component [number]="6"></app-contact-component>
</div>