<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">About Me</h5>
<div class="about-section block p-3 bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <div class="about-content w-full flex md:flex-row flex-col-reverse ">
        <div class="about-photo self-center flex-shrink-0">
            <img src="../../assets/my-photo.jpg" class="object-cover w-80 h-80 rounded-full transition ease-in-out delay-150 hover:scale-150 duration-300">
        </div>
        <div class="about-info flex-shrink md:ml-8 mb-8 md:mb-0">
            <p class="font-normal text-gray-700 dark:text-gray-400">
                Hello, my name is Jonas Mindaugas Barvyks and I do Web and Game Development. I'm currently working at IBM as an experienced Frond End Web Developer using Angular, RxJs and Node.js.
            </p>
            <p class="font-normal text-gray-700 dark:text-gray-400">
                I spend my free time learning other front end technologies, game development and writing small applications. My interests include artificial intelligence, video games, robotics, NFTs and space exploration.
            </p>
        </div>
    </div>
</div>