<div class="title-section h-screen grid place-content-center">
    <p class="text-center font-serif text-xl font-extralight text-white">Hi, my name is</p>
    <p class="text-center font-serif text-xl font-bold text-white">Jonas Mindaugas Baravykas</p>
    <p class="text-center font-serif text-xl font-extralight text-white">And I'm a</p>
    <p class="text-center font-serif text-xl font-bold text-white">Front End Developer</p>
    <p class="job-title text-center font-serif text-3xl font-extralight text-white">↓</p>
</div>