<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="close()">&times;</span>
    <div class="main-title">
      Last projects
    </div>
    <div class="modal-data">
      <div class="single-project">
        <div class="project-name-date">
          MIRA | Jan 2021 - Dec 2022
        </div>
        <div class="project-possition">
          Team Lead of Front-End team, Front-End Developer
        </div>
        <div class="project-description">
          Mira is an insurance underwriting tool for MidCorp business. It allows underwriters to have an holistic view
          of one risk based on external data as well as internal portfolio data.
          Mira uses a set of artificial intelligence algorithms to minimise the manual actions needed by the underwriter.
        </div>
        <div class="project-technologies">
          Technologies: Angular, TypeScript, RxJs, NgRx, Node.js, Cyperss.io, Plotly.js, Bing Maps, SCSS, HTML5.
        </div>
        <div class="project-contribution">
          Contribution:
          <ul>
            <li>Leading Front-End team:
              <ul>
                <li>
                  Managing team capacity, task planning and estimating.
                </li>
                <li>
                  Requirements gathering.
                </li>
                <li>
                  Backlog refinement.
                </li>
                <li>
                  Sprint planning.
                </li>
                <li>
                  Communication with stakeholders and Back-End.
                </li>
              </ul>
  
            </li>
            <li>Implementation of multiple reusable components for various sections in application.</li>
            <li>Implementation of complex UI flows, with communication between Back-End and Front-End.</li>
            <li>Rewriting and optimising old features and components.</li>
            <li>Implementation of local mocked server using Node.js.</li>
            <li>Implementation of e2e tests using Cypress framework.</li>
            <li>Implementation of Unit tests using Jasmine test framework.</li>
            <li>Providing support and suggestions on development of Mira application (UI/UX)</li>
          </ul>
        </div>
      </div>

      <div class="pagination">
        <div>
          <button class="controll"><</button>
        </div>
        <div>
          <button class="controll">></button>
        </div>
      </div>      
    </div>
  </div>
</div>